@{
    ViewData["Title"] = "Контакти";
}
<html>
<body>
    <header>
        <style>
            .container {
                position: relative;
            }

            .topright {
                position: absolute;
                top: 8px;
                right: 16px;
                font-size: 18px;
            }
            .topleft {
                position: absolute;
                top: 8px;
                left: 16px;
                font-size: 18px;
            }
            p.ex1 {
                border: 1px solid white;
                padding-left: 7%;
            }
            p.ex2 {
                border: 1px solid white;
                padding-right: 7%;
            }
        </style>
        <br />
        <br />
        <br />
        <h1 class="text-center" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: firebrick">Свържи се с нас</h1>
    </header>
    <br />
    <br />
    <br />
    <div class="container">
        <div class="text-left">
            <p class="ex1">
                <i class="fas fa-mobile-alt p-2" style="font-size: 400%; color:firebrick"></i>
                <br />

            </p>
            <i class="fas fa-phone" style="font-size: 90%; color:black;"> 089 3428 345</i>
            <i class="fas fa-phone" style="font-size: 90%; color:black;"> 088 3219 567</i>
        </div>
        <div class="text-center ">
            <i class="fas fa-map-marked-alt" style="font-size:400%; color:firebrick"></i>
            <br />
            <br />
            <i class="fas fa-map-marker-alt" style="font-size:90%; color: black"> Гр.София, ул. Петър Стоянов 14 </i>
        </div>
        <div class="container topright">
            <div class="text-right">
                <p class="ex2">
                    <i class="fas fa-envelope" style="font-size:400%; color:firebrick"></i>
                    <br />
                </p>
                    <i class="fas fa-at" style="font-size:90%; color: black"> foodyrestaurant@gmail.com</i>
            </div>
        </div>
    </div>
</body>
</html>