@{
    ViewData["Title"] = "За нас";
}
<br />
<br />
<h1 class="text-center" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color:firebrick">ЗА НАС</h1>
<br />
<style media="screen">
    .carousel {
        
        width: 700px;
        height: 380px;
        margin-right: 10px;
        margin: auto;
    }
    .carousel:before {
        display: block;
    }
</style>
<body>
    <br />
    <br />
    <h3 class="text-center" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Ресторант Foody Bar & Kitchen София</h3>
    <br />
    <p class="text-center">
        Предразполагаме гостите си за сладки и продължителни, смислени и интригуващи разговори. Но всичко това, както знаем, върви най-добре с подходящото блюдо и напитка.
        Ресторант Foody Bar & Kitchen е правилната комбинация. Изберете вашия събеседник или компания, а за храната ще се погрижим с най-голямо старание. Ако не може да изберете сами - попитайте нашия приветлив персонал. Ако не знаете какво вино ще отива на избраното ястие - попитайте нашия приветлив персонал.
    </p>
    <p class="text-center">
        Като популярна точка в центъра на София, Foody Bar & Kitchen е посещавана дестинация както от местни, така и от туристи. Мненията в социалните мрежи и туристически каталози провокират нови любопитни гурме ценители и съответно нови доволни посетители. Нашата интернационална кухня в съчетание с щипка уникална добавка, любов и качество намира съмишляници от цял свят. Пастата ни е прясна, бургерите са ни гурме, салатите "имат вкус", а десертите са неповторими! Ресторант Foody Bar & Kitchen, София
        София е популярна туристическа спирка и за българи, и за чужденци. Има своя исторически и културен чар, своите фермерски пазари, изложения, събития, нощен живот. Но това, което привлича хора от различни крайща на света, несъмнено е кулинарният туризъм. Повечето докоснали се до "произведено в България" ястие стават и остават вечни почитатели. Така, дори международни рецепти и специалитети, пречупени през нашите разбирания имат друг вкус. Вкус, който намира одобрение навред. С много качествени ресторанти и клубове може да се похвали нашата столица. Както и нашите колеги, така и ние се стремим да надграждаме идеите си с действия, да преминаваме на следващото стъпало смело и сигурни в качеството, да доизграждаме положителния имидж на София, България в сферата на ресторантьорството и кулинарията.
    </p>
    <br />
    <br />
    <br />
    <div id="demo" class="carousel slide" data-ride="carousel">

        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
            <li data-target="#demo" data-slide-to="4"></li>
        </ul>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Image/galeri1.jpg" width="700" height="380" alt="galeri" />

            </div>
            <div class="carousel-item">
                <img src="~/Image/galeri2.jpg" width="700" height="380" alt="galeri" />

            </div>
            <div class="carousel-item">
                <img src="~/Image/galeri3.jpg" width="700" height="380" alt="galeri" />

            </div>
            <div class="carousel-item">
                <img src="~/Image/galeri4.jpg" width="700" height="380" alt="galeri" />

            </div>
            <div class="carousel-item">
                <img src="~/Image/1.jpg" width="700" height="380" alt="galeri" />

            </div>
        </div>

        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    <br />
    <br />
    <br />
    <p class="text-center">
        Не е трудно да ни намерите. Не е трудно да изберете точно при нас да хапнете, побъбрите с приятели или проведете бизнес среща. Защото прекрачвайки прага вие вече сте в свата на Foody Bar & Kitchen. Малко по-екстравагантен, малко по-нестандартен и привлекателен. Свят отворен за разговори, усмивки и така омайваща храна, че Ви се иска да се върнете отново и отново или просто времето да спре.
    </p>
    <p class="text-center">
        Кафе с ароматен десерт за през деня, здравословен обяд и вечеря, тематични музикални вечери, споделени с най-близките. Foody Bar & Kitchen е утвърдена дестинация с много лица и цвят. Ресторант и бар за различни хора и потребности, за споделени мигове, за споделени вкусове.
    </p>
    <p class="text-center">
        Има с какво да Ви изненадваме, разнообразим, зарадваме, удовлетворим. Дори може да научите нещо ново. Нещо пикантно, апетитно или сладко. Някоя клюка, новина, вест. Да открието нови вкусови предпочитания, да съчетаете приятното с полезното и приятното с невероятното!
    </p>
    <br />
    <br />
</body>