@{
    ViewData["Title"] = "Поръчка";
}
<br />
<br />
<body>
    <h2 style="color:lawngreen">Успешна поръчка!</h2>
    <h3>Благодарим Ви! Обработката на Вашата поръчка може да отнеме от 40 минути до 2 часа. Доставчика ще се свърже с Вас, когато е на адреса Ви.</h3>
    <br />
    <div class="form-group">
        <a asp-action="Products" asp-controller="Home" type="submit" class="btn btn-info">Върни се към менюто</a>
    </div>
</body>